
  .app {
    --transition-duration: 400ms;
    --bg: transparent;
    --text: #f3f4f6;
  }
  
  .app.dark {
    --bg: transparent;
    --text: #101828;
  }
  
  .app {
    background-color: var(--bg);
    color: var(--text);
    transition: color, background-color var(--transition-duration);
  }
  
  .app svg {
    transition: stroke var(--transition-duration);
    stroke: var(--text);
  }
  
  .app .moon-icon {
    stroke-dasharray: 0px 1px;
    opacity: 0;
    transition: stroke-dasharray 0.5s ease-in, opacity 300ms ease-in;
  }
  
  .app .sun-icon {
    stroke-dasharray: 1px 1px;
    opacity: 1;
    transition: stroke-dasharray 0.5s ease-in, opacity 300ms ease-in;
  }
  
  .app.dark .moon-icon {
    stroke-dasharray: 1px 1px;
    opacity: 1;
  }
  
  .app.dark .sun-icon {
    stroke-dasharray: 0px 1px;
    opacity: 0;
  }
  